@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
* {
	margin: 0;
	padding: 0;
}
body {
	background: #EFEFEF;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
a {
	color: #499FD8;
	text-decoration: none;
}
a:visited {
	color: #499FD8;
}
.container {
	width: 80%;
	margin: auto;
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 0;
	right: 0;
	height: 500px;
}
.left {
	float: left;
	display: inline-block;
	position: relative;
	top: 125px;
	font-size: 1.2em;
}
.left p {
	font-weight: 300;
	line-height: 35px;
}
.right {
	float: right;
	display: inline-block;
}
.form {
	background: #575556;
	height: 400px;
	width: 350px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	color: #fff;
	padding: 15px;
	position: relative;
}
.form h2 {
	text-align: center;
	margin-top: 25px;
}
form input {
	outline: none;
	border: none;
	font-family: 'Lato', sans-serif;
	margin: auto;
	background: #FFFFFF;
}
form label {
	display: inline-block;
}
form input[type="text"] {
	margin-bottom: 25px;
	margin-top: 25px;
}
form input[type="text"],
form input[type="password"] {
	width: 300px;
	padding: 4px;
	display: block;
	height: 35px;
}
form #remember-me, 
form #ip-changes {
	display: inline-block;
	position: relative;
	left: 20px;
	margin-top: 5px;
}
form #ip-changes {
	left: 65px;
}
form .button {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 15px;
}
form input[type="submit"] {
	display: block;
	margin: auto;
	cursor: pointer;
	width: 125px;
	height: 35px;
	background: #3A98D6;
	color: #fff;
	font-size: 18px;
	padding-bottom: 5px;
	padding-top: 3px;
}
.back {
	margin-top: 55px;
}
.back a {
	color: #000;
}
.back i {
	padding-right: 10px;
}
#c-password {
	margin-bottom: 25px;
}

/* Checkbox */
input[type="checkbox"] {
	-webkit-appearance: none;
	background-color: #F0F0F0;
	border: none;
	padding: 6px;
	margin-right: 5px;
	position: relative;
}
input[type="checkbox"]:active, 
input[type="checkbox"]:checked:active {

}
input[type="checkbox"]:checked:after {
	content: '\2714';
	font-size: 12px;
	position: absolute;
	top: -2px;
	right: 1px;
	color: #000;
}