* {margin: 0; padding: 0;}
body {
	background: #F4F4F4;
	font-family: Helvetica;
}
.login {
	width: 450px;
	margin: auto;
	position: absolute;
	top: 40%;
	bottom: 50%;
	left: 0;
	right: 0;
	background: #fff;
	height: 400px;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.24);
}
.login h2 {
	background: #575556;
	color: #fff;
	padding: 12px;
}
.login form {
	padding: 25px;
	position: relative;
}
.login form input[type="text"],
.login form input[type="password"] {
	height: 25px;
	display: block;
	width: 325px;
	margin: auto;
	margin-bottom: 35px;
	background: #F4F4F4;
	outline: none;
	border: none;
	padding: 8px;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.24);
}
.login form input[type="checkbox"] {
	margin-right: 5px;
}
.login form #remember-me,
.login form #ip-changes {
	display: inline-block;
}
.login form #remember-me {
	position: relative;
	left: 30px;
}
.login form #ip-changes {
	position: relative;
	left: 95px;
}
.login form input[type="submit"] {
	display: block;
	background: #3A98D6;
	outline: none;
	border: none;
	color: #fff;
	width: 340px;
	margin: auto;
	padding: 10px;
	margin-top: 65px;
	cursor: pointer;
}
.back {
	position: absolute;
	top: 425px;
}
.back a {
	color: #000;
	text-decoration: none;
	font-size: 15px;
}